{% load bootstrap4 %}
{% load static %}
<! DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=l, shrink-to-fit=no">
    <title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'main/style.css' %}">
    {% bootstrap_javascript jquery='slim' %}
</head>
<body class="container-fluid">
<header class="mЬ-4">
    <h1 class="display-1 text-center">Объявления</h1>
</header>
<div class="row">
    <ul class="col nav justify-content-end border">
        <li class="nav-item"><a class="nav-link" href="#">Регистрация</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-toggle="dropdown" href="#"
               role="button" aria-haspopup="true"
               aria-expanded="false">Профиль</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Moи объявления</a>
                <a class="dropdown-item" href="#">Изменить личные данные</a>
                <a class="dropdown-item" href="#">Изменить пароль</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Выйти</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Удалить</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link"
                                href="#">Bxoд</a></li>
    </ul>
</div>
<div class="row">
    <nav class="col-md-auto nav flex-column border">
        <a class="nav-link root"
           href="{% url 'main:index' %}">Главная</a>
        <span class=" nav-link root font-weight-bold">
        Недвижимость</span>
        <a class="nav-link" href="#">Жилье</a>
        <a class="nav-link" href="#">Склады</a>
        <a class="nav-link" href="#">Гаражи</a>
        <span class="nav-link root font-weight-bold" href="#">Транспорт</span>
        <a class="nav-link" href="#">Легковой</a>
        <a class="nav-link" href="#">Грузовой</a>
        <a class="nav-link root" href="{% url 'main:other' page='about' %}">О сайте</a>
    </nav>
    <section class="col border ру-2">
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </section>
</div>
<footer class="mt-3">
    <p class="text-right font-italic">&copy; читатели, 2018 г. </p>
</footer>
</body>
</html>